<!-- Toolbar -->
<mat-toolbar role="heading" color="primary">  
    <span>{{title}}</span>
    <span class="spacer-toolbar"></span>
    <span>
        <!-- <a mat-button [matMenuTriggerFor]="menu" color="primary">Menu</a> -->
        <a mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </a>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink = "home">Home</button>
            <button mat-menu-item routerLink = "logout">Log out</button>
        </mat-menu>
    </span>
</mat-toolbar>

<!-- main content -->
<router-outlet></router-outlet>